---
figures: ["circle", "square", "triangle"]
login_input_elements: [
{name: "firstName", title: "First name:", placeholder: "Enter first name", error: '', type: 'text'},
{name: "secondName", title: "Secondary name:", placeholder: "Enter secondary name", error: '', type: 'text'},
{name: "login", title: "Login:", placeholder: "Enter login", error: '', type: 'text'},
{name: "email", title: "Email:", placeholder: "Enter email", error: '', type: 'text'},
{name: "phone", title: "Phone:", placeholder: "Enter phone", error: '', type: 'phone'},
{name: "password", title: "Password:", placeholder: "Enter password", error: '', type: 'password', icon: ''}
]
array_links: ['../../style/style.css', '../../partials/auth/figure.css']
---
{{#extend "auth" links=array_links}}
  {{#content "main"}}
    <main class="auth">
      <div class="auth-form">
        {{> "auth/top-links" register=true}}
        <form action="">
          <div class="container-inputs">
            {{> "auth/input" data=login_input_elements}}
          </div>
          <div class="container-everything">
            {{> "auth/button" tyle="submit" text="Sign In"}}
          </div>
        </form>
        <div class="forgot">
          <a href="#">Forgot password?</a>
        </div>
      </div>
      <div class="auth__beautiful-elements register">
        {{> "auth/beautiful-elements" elements=figures}}
        {{> "svg/star"}}
      </div>
    </main>
  {{/content}}
{{/extend}}