---
array_links: ['../../style/style.css']

form_elements: [
{name: "oldpass", title: "Old password:", type: 'password', placeholder: "Enter old password"},
{name: "newpass", title: "New password:", type: 'password', placeholder: "Enter a new password" },
{name: "twonewpass", title: "Repeat new password:", type: 'password' },
]
---
{{#extend "auth" links=array_links}}
  {{#content "main"}}
    <main class="profile">
      {{> "profile/top-links"}}
      <div class="profile__info">
        {{> 'auth/input' data=form_elements}}
        <div class="profile__info__btn">
          {{> 'auth/button' type="submit" text="Change password"}}
        </div>
      </div>
    </main>
  {{/content}}
{{/extend}}