{{#if data.no_open}}
  <div class="chat hidden">
    <div class="chat__pre-info">
      <p> Select a chat to send a message</p>
    </div>
  </div>
{{else}}
  <div class="chat open">
    {{> "chat/header"}}
    {{> "chat/chat-body" messages=chat_array}}
    {{> "chat/input"}}
  </div>
{{/if}}
