
  <div class="chat__header">
    <div class="chat__header__user-info">
      <div class="user-avatar"></div>
      <div class="user-name">Вадим</div>
    </div>
    <div class="more-action">
      {{>"svg/more"}}
      <div class="more-action__window active">
        <ul>
          <li><i>{{> 'svg/cross'}}</i> Add user</li>
          <li><i>{{> 'svg/cross'}}</i> Delete user</li>
        </ul>
      </div>
    </div>

  </div>