<div class="chat__input">
  <div class="clip">
    {{> "svg/clip"}}
  </div>
    <div class="chat__input__window active">
      <ul>
        <li><i>{{> 'svg/photo'}}</i> Photo or video</li>
        <li><i>{{> 'svg/file'}}</i> File</li>
        <li><i>{{> 'svg/location'}}</i> Location</li>
      </ul>
    </div>

  <div class="chat__input__message">
    <input type="text" class="chat-input" placeholder="Message">
  </div>
  <div class="chat__input__send">
    <button>➔</button>
  </div>
</div>