<div class="modal-container active">
  <div class="modal">
    <div class="modal__header"><h4 class="title">{{data.title}}</h4></div>
    <div class="modal__body">
      {{{data.body}}}
    </div>
    <div class="modal__footer">
      {{> 'auth/button' type=data.button.type text=data.button.text}}
    </div>
  </div>
</div>
<script>
  document.querySelector('.input-file input[type=file]').addEventListener('change', function () {
      let file = this.files[0];
      this.nextElementSibling.innerHTML = file.name;
    }
)</script>