<ul>
  <li><a href="auth/login.hbs">Login Page</a></li>
  <li><a href="auth/register.hbs">Register Page</a></li>
  <li><a href="chat/index.hbs">Index Chat</a></li>
  <li><a href="chat/chat-selected.hbs"> Chat Open Dialog</a></li>
  <li><a href="chat/chat-modal.hbs"> Chat Open Modal</a></li>
  <li><a href="profile/index.hbs">Profile Index</a></li>
  <li><a href="profile/change-password.hbs">Profile Change password</a></li>
  <li><a href="profile/change-avatar.hbs">Profile Change Avatar</a></li>
  <li><a href="error/400.hbs">Error 400</a></li>
  <li><a href="error/500.hbs">Error 500</a></li>
</ul>