<div class="auth-form__links">
    <div class="link-item {{#if login}}active{{/if}}"><a href="login.hbs">Sign In</a></div>
    <div class="link-item {{#if register}}active{{/if}}"><a href="register.hbs">Register</a></div>
</div>