<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Title</title>
  {{#each links}}
    <link rel="stylesheet" href="{{this}}">
  {{/each}}
</head>
<body>
{{link}}
<div class="container-chat">
  {{#block "main"}}{{/block}}
</div>
</body>
</html>