---
array_links: ['../../style/style.css']
---

{{#extend "auth" links=array_links}}
  {{#content "main"}}
    <main class="error">
      <h1 class="error__code">500</h1>
      <h3 class="error__message">Internal server error</h3>
      <a href="../chat/index.hbs" class="error__backlink">Back to chat</a>
    </main>
  {{/content}}
{{/extend}}