.error {
    align-self: center;
    text-align: center;
    &__code {
        margin-bottom: 20px;
        font-size: 40px;
    }
    &__message {
        margin-bottom: 40px;
        font-size: 20px;
    }
    &__backlink {
        color: $primary-color;
        text-decoration: none;
        font-size: 12px;
    }
}